<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx
       	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 自动扫描web包 ,将带有注解的类 纳入spring容器管理 -->
	<context:component-scan base-package="com.springMVC.web" />

	<!-- 引入jdbc配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- dataSource 配置 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${${database.type}.jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${${database.type}.jdbc.url}" />
		<property name="password" value="${${database.type}.jdbc.password}" />

		<!--关闭连接时，是否提交未提交的事务，默认为false，即关闭连接，回滚未提交的事务 -->
		<property name="autoCommitOnClose" value="${cpool.autoCommitOnClose}" />
		<!-- 当连接池连接耗尽时，客户端调用getConnection()后等待获取新连接的时间，超时后将抛出SQLException，如设为0则无限期等待。单位毫秒。默认: 0 -->
		<property name="checkoutTimeout" value="${cpool.checkoutTimeout}" />
		<!-- 初始化连接池中的连接数，取值应在minPoolSize与maxPoolSize之间，默认为3 -->
		<property name="initialPoolSize" value="${cpool.minPoolSize}" />
		<!-- 连接池中保留的最小连接数，默认为：3 -->
		<property name="minPoolSize" value="${cpool.minPoolSize}" />
		<!--连接池中保留的最大连接数。默认值: 15 -->
		<property name="maxPoolSize" value="${cpool.maxPoolSize}" />
		<!--最大空闲时间，60秒内未使用则连接被丢弃。若为0则永不丢弃。默认值: 0 -->
		<property name="maxIdleTime" value="${cpool.maxIdleTime}" />
		<!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。默认值: 3 -->
		<property name="acquireIncrement" value="${cpool.acquireIncrement}" />
		<!--定义在从数据库获取新连接失败后重复尝试的次数。默认值: 30 ；小于等于0表示无限次 -->
		<property name="acquireRetryAttempts" value="${cpool.acquireRetryAttempts}" />
		<!--重新尝试的时间间隔，默认为：1000毫秒 -->
		<property name="acquireRetryDelay" value="${cpool.acquireRetryDelay}" />
		<!--c3p0将建一张名为Test的空表，并使用其自带的查询语句进行测试。 -->
		<!--如果定义了这个参数那么属性preferredTestQuery将被忽略。 -->
		<!--你不能在这张Test表上进行任何操作，它将只供c3p0测试使用。默认值: null -->
		<property name="automaticTestTable" value="test" />
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />

		<!-- 注解方式配置 -->
		<property name="packagesToScan">
			<list>
				<value>com.springMVC.web.entity</value>
			</list>
		</property>

		<!-- hbm方式配置 -->
		<!-- <property name="mappingDirectoryLocations"> -->
		<!-- <list> -->
		<!-- <value>classpath:com/fengzhi/web/entity</value> -->
		<!-- </list> -->
		<!-- </property> -->

		<property name="hibernateProperties">
			<props>
				<!-- update：表示自动根据model对象来更新表结构，启动hibernate时会自动检查数据库，
							如果缺少表，则自动建表；如果表里缺少列，则自动添加列(并且表中原来的数据不会丢失)
							（注：若表里有多余的列，则不会删除）。
							若对应类型不一致，则不会修改表的字段的类型，操作（如插入记录）失败（Consle无错误提示）
  					create：启动hibernate时，自动删除原来的表，新建所有的表，所以每次启动后的以前数据都会丢失。
  					create-drop：启动hibernate时，自动创建表，程序关闭时，自动把相应的表都删除。所以程序结束时，表和数据也不会再存在。
  					validate：加载hibernate时，自动校验，如果表结构与实体类不一致，那么不做任何操作，报错；
  					表不存在时也会报错
                  		类型不一致时：例：Caused by:org.hibernate.HibernateException: Wrong column type in hibernate.people forcolumn file. Found: blob, expected: tinyblob
                  		表不存在时：例：Caused by:org.hibernate.HibernateException: Missing table: people -->
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <!-- hibernate是要把Java对象转换成关系数据库来描述的 -->
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<!-- hibernate 是可以配置 show_sql 显示 自动生成的SQL 语句 -->
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<!-- 格式化sql -->
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
			</props>
		</property>
	</bean>

	<!-- 配置Hibernate事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 配置事务异常封装 -->
	<bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
</beans>
